asgiref==3.11.1
build==1.4.0
certifi==2026.2.25
charset-normalizer==3.4.5
click==8.3.1
Django==6.0.3
django-appconf==1.2.0
django_compressor==4.6.0
flake8==7.3.0
gunicorn==25.1.0
idna==3.11
mccabe==0.7.0
packaging==26.0
pip-tools==7.5.3
psycopg==3.3.3
pycodestyle==2.14.0
pyflakes==3.4.0
pyproject_hooks==1.2.0
rcssmin==1.2.2
requests==2.32.5
rjsmin==1.2.5
setuptools==82.0.0
sqlparse==0.5.5
tomli==2.4.0
urllib3==2.6.3
wheel==0.46.3
